<% @sharks.each do |shark|%>
  <h1><%= shark.common_name %><h1>
  <h3><%= shark.latin_name %></h3>
  <h3>Typical Habitat: <%= shark.habitat_range %></h3>
  <h3>Documented Attacks: <%= shark.attacks_on_humans %></h3>
<% end %>